.card
{
	margin:20px auto 20px auto;
	background-color:#efefef;
	width:940px;
	border:1px solid #cccccc;
	
}
.card:hover
{
	box-shadow: 0px 0px 10px 1px #DDDDDD;
}

.card-inner
{
	text-align:left;
	width:70%;
	margin:20px auto 20px auto;
}
.card-inner center h3
{
	
}
/*{border:1px dotted red;}
